<div class="section clearfix collection__sidebar">
  {% if section.settings.display_collection_title and section.settings.featured_collection_image == false %}
    <div class="eight columns">
      <h1>{{ collection.title }}</h1>
    </div>
  {% endif %}
    <div class="eight columns section_select medium-down--one-whole">
    {% if collection.handle != blank and collection.products_count > 0 %}
      {% if section.settings.collection_tags %}
        {% for tag in collection.all_tags %}
          {% if forloop.first %}
            <select name="tag_filter" id="tag_filter" class="tag_filter" data-default-collection="{% if collection.handle == 'all' %}/collections/all{% else %}{{ collection.url }}{% endif %}">
              <option {% unless current_tags %}selected="selected"{% endunless %} value="{% if collection.handle == "all" %}/collections/all{% else %}{{ collection.url }}{% endif %}">{{ 'collections.general.all_collection_title' | t: title: collection.title }}</option>
          {% endif %}

          {% unless tag contains 'meta-' %}
            <option {% if current_tags contains tag %}selected="selected"{% endif %} value="/collections/{% if collection.handle != blank %}{{ collection.handle }}{% else %}all{% endif %}/{{ tag | handleize }}">{{ tag }}</option>
          {% endunless %}

          {% if forloop.last %}
            </select>
          {% endif %}
        {% endfor %}
      {% endif %}

      {% if section.settings.collection_sort %}
        <select class="sort_by" id="sort-by" data-default-sort="{{ collection.sort_by | default: collection.default_sort_by  }}">
          <option value="manual">{{ 'collections.sorting.featured' | t }}</option>
          <option value="best-selling">{{ 'collections.sorting.best_selling' | t }}</option>
          <option value="title-ascending">{{ 'collections.sorting.az' | t }}</option>
          <option value="title-descending">{{ 'collections.sorting.za' | t }}</option>
          <option value="price-ascending">{{ 'collections.sorting.price_ascending' | t }}</option>
          <option value="price-descending">{{ 'collections.sorting.price_descending' | t }}</option>
          <option value="created-descending">{{ 'collections.sorting.date_descending' | t }}</option>
          <option value="created-ascending">{{ 'collections.sorting.date_ascending' | t }}</option>
        </select>
      {% endif %}
    {% endif %}
  </div>
</div>

<div class="section clearfix collection__filters js-collection-filters">
    <span class="collection-filters__wrapper">
        <span class="collection-filters__name js-sidebar-filters-trigger">Filters <img class="collection-filters__icon" src="{{ 'filter.svg' | asset_url }}" alt="filter icon"></span>
    </span>

    <div class="eight columns section_select medium-down--one-whole">
        <!-- <span class="collection-filters__name collection-filters__name-sort js-sort-by-trigger">Sort by</span> -->
        {% if collection.handle != blank and collection.products_count > 0 %}
            {% if section.settings.collection_tags %}
                {% for tag in collection.all_tags %}
                    {% if forloop.first %}
                    <select name="tag_filter" id="tag_filter" class="tag_filter" data-default-collection="{% if collection.handle == 'all' %}/collections/all{% else %}{{ collection.url }}{% endif %}">
                        <option {% unless current_tags %}selected="selected"{% endunless %} value="{% if collection.handle == "all" %}/collections/all{% else %}{{ collection.url }}{% endif %}">{{ 'collections.general.all_collection_title' | t: title: collection.title }}</option>
                    {% endif %}

                    {% unless tag contains 'meta-' %}
                    <option {% if current_tags contains tag %}selected="selected"{% endif %} value="/collections/{% if collection.handle != blank %}{{ collection.handle }}{% else %}all{% endif %}/{{ tag | handleize }}">{{ tag }}</option>
                    {% endunless %}

                    {% if forloop.last %}
                    </select>
                    {% endif %}
                {% endfor %}
            {% endif %}

            {% if section.settings.collection_sort %}
                <select class="sort_by" dir="rtl" id="sort-by" data-default-sort="{{ collection.sort_by | default: collection.default_sort_by  }}" style="background-image: url({{ 'sort.svg' | asset_url }})">
                    <option>Sort by</option>
                    <option value="manual">{{ 'collections.sorting.featured' | t }}</option>
                    <option value="best-selling">{{ 'collections.sorting.best_selling' | t }}</option>
                    <option value="title-ascending">{{ 'collections.sorting.az' | t }}</option>
                    <option value="title-descending">{{ 'collections.sorting.za' | t }}</option>
                    <option value="price-ascending">{{ 'collections.sorting.price_ascending' | t }}</option>
                    <option value="price-descending">{{ 'collections.sorting.price_descending' | t }}</option>
                    <option value="created-descending">{{ 'collections.sorting.date_descending' | t }}</option>
                    <option value="created-ascending">{{ 'collections.sorting.date_ascending' | t }}</option>
                </select>
            {% endif %}
        {% endif %}
    </div>
</div>

<div class="collection-filter__modal modal--filter">
    <div class="collection-filter__modal-wrapper">
        <div class="collection-filter__modal-header">
            <h3 class="collection-filter__modal-title">Filters</h3>
            <svg class="js-sidebar-filters-trigger" id="Capa_1" enable-background="new 0 0 413.348 413.348" viewBox="0 0 413.348 413.348" xmlns="http://www.w3.org/2000/svg"><path d="m413.348 24.354-24.354-24.354-182.32 182.32-182.32-182.32-24.354 24.354 182.32 182.32-182.32 182.32 24.354 24.354 182.32-182.32 182.32 182.32 24.354-24.354-182.32-182.32z"/></svg>
        </div>
        <div class="collection-filter__modal-content js-sidebar-filters">
            {% include 'sidebar' %}
        </div>
    </div>
</div>

<script type="text/javascript">
    var currentScroll = 0;

    $('.js-sidebar-filters-trigger').on('click', function() {
        if (!$('body').hasClass('modal-open--filter')) {
            currentScroll = document.documentElement.scrollTop;
        } else {
            document.documentElement.scrollTop = currentScroll;
        }

        $('body').toggleClass('modal-open--filter');
    });


    $(window).scroll(function() {
        var navEl = $('.js-collection-filters');
        var informationNavMaxTop = $('.page_banner').innerHeight() + 70;
        var scrollTop = $(window).scrollTop();

        if (scrollTop >= informationNavMaxTop) {
            $('body').addClass('collection__filters--fixed');
        } else {
            $('body').removeClass('collection__filters--fixed');
        }
    });
</script>